.chess2 piece._-piece {
    background-image: url('../../images/pieces/duck.svg');
}
.chess2 piece.p-piece.white {
    background-image: url('../../images/pieces/alpha/wP.svg');
}
.chess2 piece.b-piece.white {
    background-image: url('../../images/pieces/alpha/wB.svg');
}
.chess2 piece.n-piece.white {
    background-image: url('../../images/pieces/alpha/wN.svg');
}
.chess2 piece.r-piece.white {
    background-image: url('../../images/pieces/alpha/wR.svg');
}
.chess2 piece.q-piece.white {
    background-image: url('../../images/pieces/alpha/wQ.svg');
}
.chess2 piece.k-piece.white {
    background-image: url('../../images/pieces/alpha/wK.svg');
}
.chess2 piece.p-piece.black {
    background-image: url('../../images/pieces/alpha/bP.svg');
}
.chess2 piece.b-piece.black {
    background-image: url('../../images/pieces/alpha/bB.svg');
}
.chess2 piece.n-piece.black {
    background-image: url('../../images/pieces/alpha/bN.svg');
}
.chess2 piece.r-piece.black {
    background-image: url('../../images/pieces/alpha/bR.svg');
}
.chess2 piece.q-piece.black {
    background-image: url('../../images/pieces/alpha/bQ.svg');
}
.chess2 piece.k-piece.black {
    background-image: url('../../images/pieces/alpha/bK.svg');
}

.chess2 piece.t-piece.white {
    background-image: url('../../images/pieces/alpha/wT.svg');
}

.chess2 piece.t-piece.black {
    background-image: url('../../images/pieces/alpha/bT.svg');
}

